$scrollBarSize: toRem(4);

.custom-scroll-bar {
    @include media-hover-device {
        ::-webkit-scrollbar {
            width: $scrollBarSize;
            height: $scrollBarSize;
        }

        ::-webkit-scrollbar-track {
            background-color: var(--backgroundBase);
            border-radius: toRem(4);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--borderBase);
            border-radius: toRem(4);
        }
    }
}
