$icons: (
    placeholder:          '\ea0a',
    plus:                 '\ea0b',
    script:               '\ea0c',
    target:               '\ea0d',
    teach:                '\ea0e',
    tik-tok:              '\ea0f',
    book-open:            '\ea01',
    chevron-left:         '\ea02',
    chevron-right:        '\ea03',
    close:                '\ea04',
    facebook:             '\ea05',
    headset:              '\ea06',
    instagram:            '\ea07',
    message:              '\ea08',
    mood-happy:           '\ea09',
    trending-up:          '\ea10',
    user-plus:            '\ea11',
    users:                '\ea12',
    vk:                   '\ea13',
    zap:                  '\ea14',
    clock:                '\ea15',
    repeat:               '\ea16',
);
