$spaces: (
    red:    (toRem(4)),
    orange: (toRem(6)),
    yellow: (toRem(8)),
    green:  (toRem(12)),
    pink:   (toRem(16)),
    blue:   (toRem(20)),
    cobalt: (toRem(24)),
    purple: (toRem(32)),
    brown:  (toRem(40)),
    gray:   (toRem(48)),
    black:  (toRem(64)),
    beige:  (toRem(80)),
);
